# ############################
# temporary and editor files

*~
\#*
\.\#*

# ############################
# python errata files

.cache
.ipynb_checkpoints
__pycache__
*.pyc

# ############################
# coverage and unit testing files

.coverage
coverage.xml
junit.xml
htmlcov/

# ############################
# pyinstaller related files

etude.spec
build/
dist/